@font-face {
    font-family: Ubuntu;
    src: url('../fonts/ubuntu.ttf');
}
video{
    width: 75%;
    height: 80%;
    margin-top: 3em;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #00000085;
    filter: grayscale(1);
}
h2{
    color: white;
    font-family: Ubuntu;
}
#root{
    text-align: center;
}
body{
    background-color:#854ed8;
}
canvas{
    width: 90%;
    position: absolute;
    left: 5%;
    font-family: Ubuntu;
    top: 0;
}