:root{
    --bg-button:#f0f0f0;
}
.button{
    font-size: 1.4em;
    background-color: var(--bg-button);
    border:none;
    outline: none;
}
.button:active{
    background-color: #ccc;
}
.button.double{
    grid-column: span 2;
}
.button.triple{
    grid-column: span 3;
}
.button.operation{
    background: linear-gradient(to right, #ff9472, #f2709c);
    color:#fff;
}
.button.operation:active{
    background: linear-gradient(to right, #dc8468, #bb5678);
}