.navbar,
.navbar-default {
  background-image: linear-gradient(45deg,#5b15ac 0,#7d4abe 100%) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.title{
  margin:15px;
}
.div-todo-form{
  margin-top:2em;
}
.td-flex{
  display: flex;
  justify-content: center;
}
.td-flex button{
  margin-right: 5px;
}
table th, .table thead th, .table th{
  border:0px;
}
table{
  text-align: center
}
.markedAsDone{
  text-decoration:line-through;
  color:#777;
}