@font-face{
  font-family: 'darker';
  src:url('./fonts/darker.ttf');
}
*{
  font-family: 'darker'
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center; 
  color:#fff;
  background: linear-gradient(to right, #485563, #29323c); 
}